* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Adds overflow protection if the image is too large */
    padding: 20px; /* Padding for the main content area */
}

img.centered-image {
    max-width: 100%; /* Maximum width of image is 100% of its container */
    max-height: 75vh; /* Maximum height of image is 75% of the viewport height */
    height: auto; /* Height will scale proportionally */
}

.footer {
    width: 100%;
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
}

.footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    color: #ccc;
    text-decoration: underline;
}